<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhao.dao.mapper.DepartMapper" >
  <resultMap id="BaseResultMap" type="com.zhao.dao.domain.Depart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="departid" property="departid" jdbcType="VARCHAR" />
    <result column="departname" property="departname" jdbcType="VARCHAR" />
    <result column="departcode" property="departcode" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="wxdepartid" property="wxdepartid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from depart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhao.dao.domain.Depart" >
    insert into depart (id, departid, departname, 
      departcode, level, parentid, 
      wxdepartid)
    values (#{id,jdbcType=INTEGER}, #{departid,jdbcType=VARCHAR}, #{departname,jdbcType=VARCHAR}, 
      #{departcode,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{wxdepartid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhao.dao.domain.Depart" >
    update depart
    set departid = #{departid,jdbcType=VARCHAR},
      departname = #{departname,jdbcType=VARCHAR},
      departcode = #{departcode,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=VARCHAR},
      wxdepartid = #{wxdepartid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" >
    insert into depart (id, departid, departname,
    departcode, level, parentid,
    wxdepartid)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.departid,jdbcType=VARCHAR}, #{item.departname,jdbcType=VARCHAR},
      #{item.departcode,jdbcType=VARCHAR}, #{item.level,jdbcType=VARCHAR}, #{item.parentid,jdbcType=VARCHAR},
      #{item.wxdepartid,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, departid, departname, departcode, level, parentid, wxdepartid
    from depart
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, departid, departname, departcode, level, parentid, wxdepartid
    from depart
  </select>
</mapper>