<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhao.dao.mapper.ParentMapper" >
  <resultMap id="BaseResultMap" type="com.zhao.dao.domain.Parent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="childid" property="childid" jdbcType="VARCHAR" />
    <result column="parentrole" property="parentrole" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
    <result column="departid" property="departid" jdbcType="VARCHAR" />
    <result column="is_subscribe" property="isSubscribe" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhao.dao.domain.Parent" >
    insert into parent (id, userid, childid, 
      parentrole, name, cellphone, 
      departid, is_subscribe)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{childid,jdbcType=VARCHAR}, 
      #{parentrole,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, 
      #{departid,jdbcType=VARCHAR}, #{isSubscribe,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhao.dao.domain.Parent" >
    update parent
    set userid = #{userid,jdbcType=VARCHAR},
      childid = #{childid,jdbcType=VARCHAR},
      parentrole = #{parentrole,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cellphone = #{cellphone,jdbcType=VARCHAR},
      departid = #{departid,jdbcType=VARCHAR},
      is_subscribe = #{isSubscribe,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid, childid, parentrole, name, cellphone, departid, is_subscribe
    from parent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userid, childid, parentrole, name, cellphone, departid, is_subscribe
    from parent
  </select>

  <insert id="insertBatch" >
    insert into parent (id, userid, childid,
      parentrole, name, cellphone,
      departid, is_subscribe)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.userid,jdbcType=VARCHAR}, #{item.childid,jdbcType=VARCHAR},
      #{item.parentrole,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.cellphone,jdbcType=VARCHAR},
      #{item.departid,jdbcType=VARCHAR}, #{item.isSubscribe,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>