<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhao.dao.mapper.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.zhao.dao.domain.School" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="objectid" property="objectid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="edu_type" property="edu_type" jdbcType="VARCHAR" />
    <result column="account_type" property="account_type" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="linkway" property="linkway" jdbcType="VARCHAR" />
    <result column="start_date" property="start_date" jdbcType="TIMESTAMP" />
    <result column="end_date" property="end_date" jdbcType="TIMESTAMP" />
    <result column="property" property="property" jdbcType="INTEGER" />
    <result column="has_sub" property="has_sub" jdbcType="INTEGER" />
    <result column="sub_list" property="sub_list" jdbcType="VARCHAR" />
    <result column="has_office" property="has_office" jdbcType="INTEGER" />
    <result column="office" property="office" jdbcType="VARCHAR" />
    <result column="center" property="center" jdbcType="VARBINARY" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from school
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhao.dao.domain.School" >
    insert into school (id, objectid, name, 
      address, region, edu_type, 
      account_type, email, linkman, 
      linkway, start_date, end_date, 
      property, has_sub, sub_list, 
      has_office, office, center
      )
    values (#{id,jdbcType=INTEGER}, #{objectid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{edu_type,jdbcType=VARCHAR},
      #{account_type,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR},
      #{linkway,jdbcType=VARCHAR}, #{start_date,jdbcType=TIMESTAMP}, #{end_date,jdbcType=TIMESTAMP},
      #{property,jdbcType=INTEGER}, #{has_sub,jdbcType=INTEGER}, #{sub_list,jdbcType=VARCHAR},
      #{has_office,jdbcType=INTEGER}, #{office,jdbcType=VARCHAR}, #{center,jdbcType=VARBINARY}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhao.dao.domain.School" >
    update school
    set objectid = #{objectid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      edu_type = #{edu_type,jdbcType=VARCHAR},
      account_type = #{account_type,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      linkway = #{linkway,jdbcType=VARCHAR},
      start_date = #{start_date,jdbcType=TIMESTAMP},
      end_date = #{end_date,jdbcType=TIMESTAMP},
      property = #{property,jdbcType=INTEGER},
      has_sub = #{has_sub,jdbcType=INTEGER},
      sub_list = #{sub_list,jdbcType=VARCHAR},
      has_office = #{has_office,jdbcType=INTEGER},
      office = #{office,jdbcType=VARCHAR},
      center = #{center,jdbcType=VARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, objectid, name, address, region, edu_type, account_type, email, linkman, 
    linkway, start_date, end_date, property, has_sub, sub_list, has_office, office, center
    from school
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, objectid, name, address, region, edu_type, account_type, email, linkman, 
    linkway, start_date, end_date, property, has_sub, sub_list, has_office, office, center
    from school
  </select>

  <insert id="insertBatch" >
    insert into school (id, objectid, name,
      address, region, edu_type,
      account_type, email, linkman,
      linkway, start_date, end_date,
      property, has_sub, sub_list,
      has_office, office, center
      )
    values
     <foreach collection="list" item="item" separator=",">
       (#{item.id,jdbcType=INTEGER}, #{item.objectid,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
       #{item.address,jdbcType=VARCHAR}, #{item.region,jdbcType=VARCHAR}, #{item.edu_type,jdbcType=VARCHAR},
       #{item.account_type,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.linkman,jdbcType=VARCHAR},
       #{item.linkway,jdbcType=VARCHAR}, #{item.start_date,jdbcType=TIMESTAMP}, #{item.end_date,jdbcType=TIMESTAMP},
       #{item.property,jdbcType=INTEGER}, #{item.has_sub,jdbcType=INTEGER}, #{item.sub_list,jdbcType=VARCHAR},
       #{item.has_office,jdbcType=INTEGER}, #{item.office,jdbcType=VARCHAR}, #{item.center,jdbcType=VARBINARY}
       )
     </foreach>
  </insert>
</mapper>